$black: #000;
$white: #fff;
$red: #f00;

$destroyingAngels: #e9eae2;
$montana: #393d3c;
$nawallanVacation: #7acec3;
$saffronMango: #f8c255;
$hyggeGreen: #dfe0d9;
$whitestWhite: #121211;
$plaster: #eaeaea;
$emptiness: #fcfcfc;
$americanSilver: #cecece;
$carbon: #333333;
$freshCantaloupe: #ff9b6d;