design/
build/*
!build/readme.md
package-lock.json

src/pug/mixins.pug
src/static/js/entry.js
src/static/scss/style.scss
src/static/scss/_smart-grid.scss



__MACOSX
.Saved/
_arc/
bower_components/
node_modules/
.vscode/
.publish/
.DS_Store
*.log
*.sublime-*
*.rar
*.zip
.idea
ex_files
Thumbs.db
